<div class="messages-container">
  <h2>Messages</h2>
  <% @messages.each do |message| %>
  <div class="messages-cards">
    <% if message.user == current_user || message.booking.user == current_user  %>
    <div class="user-message-name">
      <div class="center">
      From:
      </div>
      <div>
        <%= link_to message.user.username, user_path(message.user) %>
      </div>
    </div>

    <div class="user-message-content">
      <%= message.text %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
