// Variables for color scheme

$primaryone: #9EF4E0;
$primarytwo: #78EFD3;
$primarythree: #2BE7BB;
$primaryfour: #24BE9A;
$primaryfive: #1C9377;

$greenone: #61E6A3;
$greentwo: #34DF89;
$greenthree: #07D86F;
$green: #07D86F;
$greenfour: #06B15B;
$greenfive: #058A47;

$blueone: #BBE5EE;
$bluetwo: #77CBDE;
$bluethree: #34B1CD;
$blue: #34B1CD;
$bluefour: #0792B2;
$bluefive: #05667D;
$bluesix: #00CDE0;

$grayone: #E5E5E4;
$graytwo: #D5D6D4;
$graythree: #C6C7C4;
$gray: #C6C7C4;
$grayfour: #91918F;
$grayfive: #5A5B5A;
$light-gray: #F5F5F5;


$redone: #E96E6D;
$redtwo: #E34543;
$redthree: #DD1C1A;
$red: #DD1C1A;
$redfour: #B51716;
$redfive: #8D1211;


$yellow: #FDB631;
$orange: #E67E22;


$arrowzero: #2bffea;
$arrowone: #00EED6;
$arrowtwo: #00DFDA;
$arrowthree: #00D9DC;
$arrowfour: #00D6DD;
$arrowfive: #00CBE0;
$arrowsix: #00C1E3;
$arrowseven: #00B4E7;
