// primary color shades

.primary-one {
  background-color: green ;
  width: 50px;
  height: 50px;
}

.primary-two {
  background-color: green ;
  width: 50px;
  height: 50px;
}

.primary-three {
  background-color: green ;
  width: 50px;
  height: 50px;
}

.primary-four {
  background-color: green ;
  width: 50px;
  height: 50px;
}

.primary-five {
  background-color: green ;
  width: 50px;
  height: 50px;
}

// shades of green
.green-one {
  background-color: green ;
  width: 50px;
  height: 50px;
}

.green-two {
  background-color: green ;
  width: 50px;
  height: 50px;
}

.green-three {
  background-color: green ;
  width: 50px;
  height: 50px;
}

.green-four {
  background-color: green ;
  width: 50px;
  height: 50px;
}

.green-five {
  background-color: green ;
  width: 50px;
  height: 50px;
}

// shades of grey
.grey-one {
  background-color: grey ;
  width: 50px;
  height: 50px;
}

.grey-two {
  background-color: grey ;
  width: 50px;
  height: 50px;
}

.grey-three {
  background-color: grey ;
  width: 50px;
  height: 50px;
}

.grey-four {
  background-color: grey ;
  width: 50px;
  height: 50px;
}

.grey-five {
  background-color: grey ;
  width: 50px;
  height: 50px;
}

// shades of blue
.blue-one {
  background-color: blue ;
  width: 50px;
  height: 50px;
}

.blue-two {
  background-color: blue ;
  width: 50px;
  height: 50px;
}

.blue-three {
  background-color: blue ;
  width: 50px;
  height: 50px;
}

.blue-four {
  background-color: blue ;
  width: 50px;
  height: 50px;
}

.blue-five {
  background-color: blue ;
  width: 50px;
  height: 50px;
}
