// spacing
.margin {
  margin: 10px;
}

.padding-small {
  padding: 0px 20px;
  white-space: nowrap;
}

// width styles

.width-small {
  width: 100px;
}

.width-big {
  width: 90%;
  margin: 50px auto;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: $light-gray;
}

.small-square {
  width: 50px;
  height: 50px;
}

.scroll {
  overflow-y: scroll;
}

.line-through {
  border: 0.5px solid $grayfour;
}

.bottom-margin {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.scroll-box {
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  margin-bottom: 10%;
}

.scroll-box-homepage {
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
}
