.homepage-why-wrapper {
  text-align: center;
}

.homepage-why-wrapper h2 {
  margin: 25px 0px;
}

.homepage-why-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.homepage-why-box {
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-why-box p {
  width: 70%;
  font-size: 20px;
}

.why-title {
  font-size: 40px;
  font-weight:bold;
}

.with-bg-color-one {
  overflow-wrap: normal;
  background-color: $primaryone;
  opacity: 0.7;
}

.with-bg-color-two {
  overflow-wrap: normal;
  background-color: $primarytwo;
  opacity: 0.7;
}

.homepage-wrapper {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: $light-gray;
}

.homepage-users {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: .5px .5px 5px $graythree;
}

.homepage-avatar {
  background-size: cover;
  background-position: center;
  height: 275px;
  width: 275px;
  border-radius: 50%;
  // border: 1px solid black;
  margin: 5%
}

#adrien {
  background-image: url("https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

#laura {
  background-image: url("https://images.pexels.com/photos/712521/pexels-photo-712521.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.owner-desription{
  font-weight:bold;
}

.homepage-users-words {
  width: 60%;
  margin-right: 5%;
}

.homepage-bottom-buttons {
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  background-color: $grayone;
}

.you-have-shelf {
  word-break: break-all;
  width: 45%;
  font-size: 35px;
  font-weight: bold;
}

.you-have-shelf-btn {
  width: 45%;
  margin: 10px 0px;
}

.want-to-display {
  word-break: break-all;
  width: 45%;
  font-size: 35px;
  font-weight: bold;
}

.want-to-display-btn {
  width: 45%;
  margin: 10px 0px;
}

#adrien, #laura{
  font-weight:bold;
}
