.homepage-why-wrapper {
  text-align: center;
}
.homepage-why-wrapper h2 {
  margin: 25px 0px;
}

.homepage-why-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.homepage-why-box {
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-why-box p {
  width: 70%;
  font-size: 20px;
}

.why-title {
  font-size: 40px;
}

.with-bg-color-one {
  overflow-wrap: normal;
  background-color: $primaryone;
  opacity: 0.7;
}

.with-bg-color-two {
  overflow-wrap: normal;
  background-color: $primarytwo;
  opacity: 0.7;
}

.homepage-wrapper {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: $light-gray;
}

.homepage-users {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 2px rgba($grayone, 0.7);
}

.homepage-avatar {
  background-image: url("https://kitt.lewagon.com/placeholder/users/random");
  background-size: cover;
  background-position: center;
  height: 275px;
  width: 275px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 5%
}

.homepage-users-words {
  width: 60%;
  margin-right: 5%;
}

.homepage-bottom-buttons {
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px 0pc;
}

.you-have-shelf {
  word-break: break-all;
  width: 50%;
  font-size: 35px;
  font-weight: bold;
}

.you-have-shelf-btn {
  width: 50%;
  margin: 10px 0px;
}

.want-to-display {
  word-break: break-all;
  width: 50%;
  font-size: 35px;
  font-weight: bold;
}

.want-to-display-btn {
  width: 50%;
  margin: 10px 0px;
}
