.new-store-container {
  // margin-top: 70px !important;
  // width: 80%;
  // margin: 0 auto;
  // margin-top: 10%;
  // width: 50%;
  // margin: auto;
  // margin-top: 100px;
  // height: auto;
  // min-height: 92vh;
}

.new-store-form {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  width: 45%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  height: auto;
  min-height: 92vh;
  background-color: $grayone;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  align-content: center;
}

.new-store-form h2 {
  color: #282727;
  font-weight: bold;
}
