.store-index-img-banner{
  height: 40vh;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  display:flex;
  align-items:center;
  justify-content: center;
  align-items: flex-end;
  background-image: -webkit-linear-gradient(top right, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%),
  url('https://images.pexels.com/photos/1329510/pexels-photo-1329510.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-image: -o-linear-gradient(top right, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%),
  url('https://images.pexels.com/photos/1329510/pexels-photo-1329510.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-image: linear-gradient(to bottom left, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%),
  url('https://images.pexels.com/photos/1329510/pexels-photo-1329510.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  background-position: center;
}

.store-img-banner{
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  margin-top: 70px;
  border-bottom: 7px solid $arrowone;
}

.banner-header {
  color:white;
  font-weight:bold;
  font-size: 150px;
  text-shadow: 2px 1px black;
}

// top level container for all the elements
.store-details-container {
  height: 375px;
  width: 100%;
  padding: 10px 10%;
  background-color: rgba($grayone, 0.5);
  position: relative;

  .sticky-form {
    position: absolute;
    top: -130px;
    right: 150px;
  }

  .store-details-show {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: black;


    .store-show-name {
      font-weight: bold;
      margin-top: 24px;
    }

    .store-category-show {
      font-weight: light;
    }

    .store-rating-show {
      font-size: 24px;
      margin-bottom: 5px;

      .star {
        color: gold !important;
      }
    }

    .store-commish-show {
      display: flex;
      font-weight: lighter;

      > p {
        font-size: 22px;
      }

      > i {
        width: 48px;
        font-size: 24px;
      }
    }

    .store-rent-time {
      display: flex;
      font-weight: lighter;

      > i {
        width: 48px;
        font-size: 24px;
      }

      > p {
        font-size: 22px;
      }
    }

    .store-rent-price {
      display: flex;
      font-weight: lighter;

      > i {
        width: 48px;
        font-size: 24px;
      }

      > p {
        font-size: 22px;
      }
    }
  }
}

.store-about-container {
  height: 700px;
  width: 100%;
  padding: 5% 10%;
  text-align: center;

  .store-owner {
    display: flex;
    font-size: 14px;
    color: $bluesix;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;

    > i {
      width: 36px;
    }
  }

  .store-location-show {
    display: flex;
    justify-content: center;
    color: $bluesix;

    > p {
      font-size: 16px;
    }

    > div {
      width: 36px;
    }



  }
  .store-description {
    width: 80%;
    margin: 0 auto;
  }

  .store-about-images {
    display: flex;
    justify-content: space-around;
    margin: 32px 0px;

    > div {
      height: 250px;
      width: 300px;
      box-shadow: 0.5px 0.5px 2px $grayone;
      border-radius: 2px;
    }

    .store-image-one {
      background-image: url('https://images.pexels.com/photos/1267701/pexels-photo-1267701.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
      background-size: cover;
      background-position: center;
    }

    .store-image-two {
      background-image: url('https://images.pexels.com/photos/1324896/pexels-photo-1324896.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
      background-size: cover;
      background-position: center;
    }

    .store-image-three {
      background-image: url('https://images.pexels.com/photos/1267345/pexels-photo-1267345.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
      background-size: cover;
      background-position: center;
    }
  }
}

.store-map-container {
  width: 100%;
}

.store-testimonial-container {
  height: 700px;
  width: 100%;
  padding: 5% 10%;
  text-align: center;
  background-color: rgba($grayone, 0.5);

  > p {
    font-size: 36px;
    color: black;
    padding: 18px;
    font-weight: bold;
  }

  .store-testimonial-card-container {
    display: flex;
    justify-content: space-around;

    .testimonial-card {
      color: black;
      padding: 12px 6px;
      width: 300px;
      height: 400px;
      text-align: center;
      border-left: 4px solid $arrowone;
      box-shadow: 1px 1px 4px $graytwo;
      background-color: white;
      border-radius: 2px;

      > p {
        font-size: 18px;
        width: 65%;
        margin: 0 auto;
      }

      > h6 {
        color: $bluesix;
        font-weight: lighter;
      }

      >h4 {
        font-weight: bold;
      }

      div > i {
        margin-top: 24px;
        color: gold;
      }

      .testimonial-avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto;
        background-position: center;
      }
    }
  }
}

.store-buttons {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;

  > p {
    font-size: 36px;
  }

  > a {
    width: 250px;
  }
}

.star-rate {
  cursor: pointer;
  color: gold !important;
}

