.store-index-img-banner{
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  display:flex;
  align-items:center;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('https://images.pexels.com/photos/1329510/pexels-photo-1329510.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
}

.banner-header{
  color:white;
  font-weight:bold;
  font-size: 150px;
  text-shadow: 2px 1px black;
}

.edit-store-container {
  height: 1000px;
  position: relative;
}

.store-name-font {
  font-size: 45px;
}
.store-name {
  position: absolute;
  top: 1%;
  left: 0;
  right: 0;
  text-align: center;
  min-width: 50%;
  font-weight: bolder;
  color: $grayfive;
}

.store-category-show {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
  min-width: 50%;
  font-size: 25px;
  color: $grayfive;
}

.store-details-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  text-align: center;
  min-width: 50%;
  font-size: 25px;
}
.store-address-show {

}

.store-commish-show {

}

.store-rent-time{

}

.store-rent {

}

.store-city {
  position: absolute;
  top: 15%;
  left: 50%;
  right: 0;
  font-size: 15px;
  font-weight: light;
}

.store-owner{
  position: absolute;
  top: 15%;
  left:35%;
  right: 0;
  font-size: 15px;
  font-weight: light;
}

.store-description {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 20px;
  width: 50%;
}

.store-rating-show {
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 55px;
}

.store-buttons {
  position: absolute;
  bottom: 3%;
  left: 0;
  right: 0;
  text-align: center;
}

.input-store-name {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 25%  ;
}

.input-store-city {
  width: 35%;
}

.input-store-description {
  width: 50%;
  height: 100px;
}

.star {
  cursor: pointer;
}
