<h1>test</h1>
<h3><%= @user.username %> </h3>
<ul>
  <h3><% @stores.each do |store| %></h3>
    <div class="card">
      <li><%= link_to store.name, store %> | <%= store.location %> | <%= store.description %></li>
    </div>
  <% end %>
</ul>
