  <div class="store-index-img-banner" id="listings-banner">
    <h1 class="banner-header">Amsterdam</h1>
  </div>

    <% if !user_signed_in? %>

      <%= render 'stores/no_user_index' %>

    <% elsif current_user.owner %>

      <%= render 'stores/owner_brands_index' %>

    <% else %>

      <%= render 'stores/entrepreneur_store_index' %>

    <% end %>

  </div>
