
<div class="page-container">
  <%= render "shared/filter" %>
  <div class="card-container">
    <% @stores.each do |store| %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
        <div class="card-store">
          <%= store.name %>
        </div>
        <div class="card-city">
          <%= store.location %>
        </div>
        <div class="card-description" style="overflow-y: scroll; height:100px;">
          <%= store.description if store.description %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<!-- This is the one from le wagon, used as reference and to steal elements when necessary -->

<!-- <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Le Wagon Shanghai</h2>
    <p>Very cool city, the best</p>
