.messages-button-on-profile a {
  margin-top: 24px;
  font-size: 24px;
  color: $grayfive;

}

.messages-button-on-profile {
  margin: 12px 0px;
  > i {
    font-size: 24px;
  }
}

.messages-button-on-profile:hover a:hover {
  color: $arrowsix;
}

.messages-container {
  width: 1000px;
  height: auto;
  min-height: 80vh;
  margin: 100px auto;

  > h2 {
    text-align: center;

  }

  .messages-cards {
    height: 250px;
    background-color: white;
    box-shadow: 1px 1px 5px $graythree;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px;

    .user-message-avatar {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      margin: 0px 36px;

    }

    .user-message-name-content {
      max-width: 800px;
      flex-grow: 1;

      > div a {
        font-size: 24px;
        margin: 18px 0px;
      }
    }

    .user-message-time {
      text-align: left;
      max-width: 50px;
      margin: 0px 36px;
    }

  }

}
