.messages-button-on-profile a {
  margin-top: 24px;
  font-size: 24px;
  color: $grayfive;

}

.messages-button-on-profile {
  margin: 12px 0px;
  > i {
    font-size: 24px;
  }
}

.messages-button-on-profile:hover a:hover {
  color: $arrowsix;
}

.messages-container {
  width: 1000px;
  height: auto;
  min-height: 80vh;
  margin: 100px auto;

  > h2 {
    text-align: center;
  }

  .messages-cards {
    height: 250px;
    background-color: white;
    box-shadow: 1px 1px 5px $graythree;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px;

    .user-message-avatar {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      margin: 0px 36px;

    }

    .user-message-name-content {
      max-width: 800px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      margin-bottom: 60px;

      .just-name {
        margin: 24px 0px;
        font-size: 24px;
        color: black;
        border-bottom: 1px solid $arrowsix;


        > a {
          color: black;
        }

        > a:hover {
          color: $arrowsix;
        }
      }

      .just-text {
        color: $grayfive;
        margin-bottom: 30px;
      }

      .new-user-message {
        .input-message-box {

        }
      }


    }

    .user-message-time {
      text-align: center;
      margin: 0px 24px 140px 36px;
      min-width: 100px;
    }

  }

}

#message_text {
  width: 500px;
}
