<div class="user-brands">
  <p>My Products:</p>
<% @user.stores.each do |store| %>
    <div>
      <%= link_to store.name, store_path(store) %>
    </div>
    <!-- <div class="user-brand-rating">
      <%# num_stars = store.rating %>
      <%# num_stars.times do %>
        <i class="fas fa-star"></i>
      <%# end %>
      <%# (5 - num_stars).times do %>
        <i class="far fa-star"></i>
      <%# end %>
    </div> -->
  <% end %>
</div>
