<!-- user bookings -->
<div class="user-bookings-box">
  <h2>Bookings</h2>
  <div class="user-bookings-filter">
    <%= render 'users/bookings_filter' %>
  </div>

  <div class="user-show-pending-bookings">
    <% @user.bookings.order("created_at DESC").each do |booking| %>
    <%= render 'users/display_user_bookings', store: booking.store, booking: booking %>

    <% end %>
  </div>
</div>

<!-- user stores -->
<div class="user-show-stores">
  <% if @user.stores.empty? %>
  <p>You haven't added a Brand yet</p>
  <% else %>
  <h2>My Products</h2>
  <%= render 'users/display_user_stores' %>
  <% end %>

</div>

