<div class="user-show-container">

  <% if @user == current_user %>

    <!--  displays the current user's account with bookings & messages -->
    <%= render 'users/user_personal_show' %>

  <% else %>

    <%= render 'users/third_party_show' %>

  <% end %>

</div>
