<div class="banner">
  <div class="banner-content">
    <h1>YOUR PRODUCTS IN REAL STORES</h1>
    <p>Display your items in the best neighborhoods of the city. Expand your brand, reach more customers, get your business going!</p>

    <div class="banner-search">
      <div><%= form_tag stores_path, method: :get do %>
        <%= text_field_tag :query, params[:query], class: "form-control text-center", placeholder: "Search by Store Location" %>
      </div>
    </div>

      <div class="banner-button">
        <%= submit_tag "Search", class: "btn-big-homepage" %>
      </div>
      <% end %>

    <div class="banner-learn">LEARN MORE</div>
  </div>
</div>
