<div class="banner">
  <div class="banner-content">
    <h1>YOUR PRODUCTS IN REAL STORES</h1>
    <p>Display your items in the best neighborhoods of the city. Expand your brand, reach more customers, get your business going!</p>

    <div class="banner-search">
      <%= render "shared/search" %>
      <%= link_to "View All Stores", stores_path, class: "btn-banner btn-forward" %>
    </div>
    <div class="banner-learn">LEARN MORE</div>
  </div>
</div>
