<!-- page scrolls back to top when refreshed -->
<script>
  window.onbeforeunload = function () {
    window.scrollTo(0, 0);
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script>
  var typed = new Typed('.typed', {
    strings: ["First sentence.", "Second sentence."],
    typeSpeed: 30
  });
</script>

<div class="banner">
  <div class="banner-content">
    <h1 class="typed"><span id="banner-typed-text"></span></h1>
    <p>ShelfUp let’s you display your brand in the coolest neighborhoods of the city.</p>

    <div class="banner-search">
      <div><%= form_tag stores_path, method: :get do %>
        <%# if user_signed_in? && current_user.owner %>
        <%#= text_field_tag :query, params[:query], class: "homepage-form", placeholder: "Search Locations" %>
        <%# elsif user_signed_in? && !current_user.owner %>
        <%#= text_field_tag :query, params[:query], class: "homepage-form", placeholder: "Search Locations" %>
        <%# else %>
        <%= text_field_tag :query, params[:query], class: "homepage-form", placeholder: "Search Location", list: "location", autocomplete: :off, onfocus: "this.placeholder = ''" %>
        <%# end %>
      </div>
    </div>

    <datalist id="location">
      <% Store.all.map { |store| store.location }.uniq.each do |location| %>
      <option><%= location %></option>
      <% end %>
    </datalist>

    <div class="banner-button">
      <%= submit_tag "Search", class: "button btn-big-homepage" %>
    </div>
    <% end %>

    <!-- smooth scrolling down the page -->
    <script type="text/javascript">
      function Scroll() {
        const button = document.getElementById("scroll");
        button.scrollIntoView({
          block: 'start',
          behavior: 'smooth'
        });
      }
    </script>

    <div class="banner-learn" onclick="Scroll();">
      LEARN MORE
    </div>
  </div>
</div>
