<div class="banner">
  <div class="banner-content">
    <h1>Sell Your Products In Real Stores</h1>
    <p>ShelfUp let’s you display your brand in the coolest neighbourhoods of the city.</p>
    <%= link_to "View All Stores", stores_path, class: "btn-banner btn-forward" %>
  </div>
</div>
