<div class="banner">
  <div class="banner-content">
    <h1>Sell Your Products In Real Stores</h1>
    <p>ShelfUp let’s you display your brand in the coolest neighbourhoods of the city.</p>
    <a class="btn-banner btn-forward">Start now</a>
  </div>
</div>
