<div class="flex-box centered">
  <div class="width-small">Primary</div>
  <div class="primary-one margin small-square">
  </div>
  <div class="primary-two margin small-square">
  </div>
  <div class="primary-three margin small-square">
  </div>
  <div class="primary-four margin small-square">
  </div>
  <div class="primary-five margin small-square">
  </div>
</div>

<div class="flex-box centered">
  <div class="width-small">Green</div>
  <div class="green-one margin small-square">
  </div>
  <div class="green-two margin small-square">
  </div>
  <div class="green-three margin small-square">
  </div>
  <div class="green-four margin small-square">
  </div>
  <div class="green-five margin small-square">
  </div>
</div>

<div class="flex-box centered">
  <div class="width-small">Grey</div>
  <div class="grey-one margin small-square">
  </div>
  <div class="grey-two margin small-square">
  </div>
  <div class="grey-three margin small-square">
  </div>
  <div class="grey-four margin small-square">
  </div>
  <div class="grey-five margin small-square">
  </div>
</div>

<div class="flex-box centered">
  <div class="width-small">Blue</div>
  <div class="blue-one margin small-square">
  </div>
  <div class="blue-two margin small-square">
  </div>
  <div class="blue-three margin small-square">
  </div>
  <div class="blue-four margin small-square">
  </div>
  <div class="blue-five margin small-square">
  </div>
</div>

<div class="flex-box centered">
  <div class="width-small">Red</div>
  <div class="red-one margin">
  </div>
  <div class="red-two margin">
  </div>
  <div class="red-three margin">
  </div>
  <div class="red-four margin">
  </div>
  <div class="red-five margin">
  </div>
</div>


