<div class="flex-box centered">
  <h3>Primary     </h3>
  <div class="primary-one margin">

  </div>
  <div class="primary-two margin">

  </div>
  <div class="primary-three margin">

  </div>
  <div class="primary-four margin">

  </div>
  <div class="primary-five margin">

  </div>
</div>

<div class="flex-box centered">
  <h3>Green     </h3>
  <div class="green-one margin">

  </div>
  <div class="green-two margin">

  </div>
  <div class="green-three margin">

  </div>
  <div class="green-four margin">

  </div>
  <div class="green-five margin">

  </div>
</div>

<div class="flex-box centered">
  <h3>Grey      </h3>
  <div class="grey-one margin">

  </div>
  <div class="grey-two margin">

  </div>
  <div class="grey-three margin">

  </div>
  <div class="grey-four margin">

  </div>
  <div class="grey-five margin">

  </div>
</div>

<div class="flex-box centered">
  <h3>Blue      </h3>
  <div class="blue-one margin">

  </div>
  <div class="blue-two margin">

  </div>
  <div class="blue-three margin">

  </div>
  <div class="blue-four margin">

  </div>
  <div class="blue-five margin">

  </div>
</div>

