<div class="footer">
  <div class="footer-main">
    <div class="footer-header">
    <h3>SHELFUP</h3>
    <p>Making Online Products Physical</p>
    </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    ShelfUp LLC, All right reserved.
  </div>
  </div>
</div>
