<%= render "shared/banner" %>
<div class="homepage-why-wrapper">
  <div class="flex-box centered width-big">
    <div class="flex-grow thirty line-through"></div>
    <div class= "padding-small thirty"><h2>Why Shelfup?</h2></div>
    <div class="flex-grow thirty line-through"></div>
  </div>

  <div class="homepage-why-container">
    <div class="homepage-why-box">
      <div class="why-title">Brand Awareness</div>
    </div>
    <div class="homepage-why-box with-bg-color-one">
      <p>Increase brand awareness of your business by gettting your goods into physical stores. With ShelfUp you can always find great locations to get your prodcuts infont of customers! </p>
    </div>
    <div class="homepage-why-box with-bg-color-two">
      <p>Increase your income! With ShelfUp you get your products on the shelves of the most popular stores in town. That means more customers are exposed to your goods. More customers mean the potential for your business to make more money!</p>
    </div>
    <div class="homepage-why-box">
      <div class="why-title">Income</div>
    </div>

    <div class="homepage-why-box">
      <div class="why-title">Changing Inventory</div>
    </div>
    <div class="homepage-why-box with-bg-color-one">
      <p>Keep your customers hungry for more! By supplying shelves to local producers you ensure that your inventory is always chaninging. ShelfUp will keep customers visitng your store again and again!</p>
    </div>
    <div class="homepage-why-box with-bg-color-two">
      <p>Help your commuinty. Support your neighbors who have a passion for their small business. Provide help to those looking to turn their hobby into a business.</p>
    </div>
    <div class="homepage-why-box">
      <div class="why-title">Support Your Community</div>
    </div>
  </div>
</div>

<!-- whos on yourshelf title -->
<div class="homepage-why-wrapper">
  <div class="flex-box centered width-big">
    <div class="flex-grow thirty line-through"></div>
    <div class= "padding-small thirty"><h2>Who's on Yourshelf?</h2></div>
    <div class="flex-grow thirty line-through"></div>
  </div>
</div>

<div class="homepage-wrapper">

  <div class="homepage-users">
    <div class="homepage-avatar">
      <h3>Adrien</h3>
    </div>
    <div class="homepage-users-words">
      <p>Hi I'm Adrien and I love putting myself on a shelf! Wit</p>
    </div>
  </div>

  <div class="homepage-users">
    <div class="homepage-avatar">
      <h3>Laura</h3>
    </div>
    <div class="homepage-users-words">
      <p>Hi I'm Laura and love that after selling a few of my goods online that I am able to find an easy way to put my products in real stores!</p>
    </div>
  </div>

  <div class="homepage-bottom-buttons flex-box">
    <div class="want-to-display flex-grow">
      <h3>Do you want to display?</h3>
      <%= link_to "Find Stores", stores_path, class: "btn btn-forward" %>
    </div>
    <div class="you-have-shelf flex-grow">
      <h3>Find new brands (*** we dont have corrent link)</h3>

      <%= link_to "Find Brands", home_path, class: "btn btn-forward"  %>
    </div>
  </div>

</div>
