<%= render "shared/banner" %>



<div class="wrapper grey-one">

  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>found you.</p>
  <h3>Practice Color scheme</h3>

  <%= link_to "View All Stores", stores_path, class: "btn btn-primary" %>

  <%= render 'shared/colors' %>

</div>
