/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  border-radius: 3px;
}

.alert-info {
  background: $greentwo;
}

.alert-warning {
  background: $redtwo;
}

.flash-msg-fixed {
  position: absolute;
  top: 9%;
  right: 1%;
  width: 20%;
  z-index: 10;
}

#hideMe {
  -webkit-animation: cssAnimation 4s forwards;
  animation: cssAnimation 4s forwards;
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
