.btn-form {
  padding: 5px 10px;
}


.btn-big {
  padding: 15px 60px;
  border-radius: 3px;
}

.btn-big-homepage {
  background-color: $primarythree;
  color: white;
  padding: 15px 80px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}

.btn-big-homepage:hover {
  text-decoration: none;
  background-color: $primaryfour;
}

.btn-forward {
  color: white;
  background-color: $greenthree;
}

.btn-forward:hover {
  color: white;
  text-decoration: none;
  background-color: $greenfour;
}


.btn-back {
  color: white;
  background-color: $redthree;
}

.btn-back:hover {
  color: white;
  text-decoration: none;
  background-color: $redfour;
}

.btn-info {
  color: white;
  background-color: $bluefour;
}

.btn-info:hover {
  color: white;
  text-decoration: none;
  background-color: $bluefour;
}

.btn-banner {
  padding: 20px 40px;
}

.filter-button {
  padding: 5px 25px;
  background-color: $greenfour;
  width: 50%;
  margin: 8% auto 3% auto;
  text-align: center;
  color: white !important;
  font-weight: bold;
  border-radius: 3px;
  text-decoration: none;
}

.filter-button:hover {
  color: white !important;
}

.filter-button-link {
  color: white !important;
}

.filter-button-link:hover {
  color: white !important;
}
