.button {
  box-shadow: 0.1px 0.1px 3px $graythree;
  border-radius: 25px;
  font-weight: bold;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
}

.button-small{
  width: 125px;
  height: auto;
  padding: 5px 15px;
}

.button-medium {
  width: 150px;
  height: auto;
  padding: 5px 25px;
}

.button-large {
  width: 200px;
  height: auto;
  padding: 5px 35px;
}

.button-blue {
  color: $bluesix;
  border: 2px solid $bluesix;
}

.button-blue:hover {
  color: white;
  background-color: $bluesix;
}
.button-green {
  color: $greenthree;
  border: 2px solid $greenthree;

}

.button-green:hover {
  color: white;
  background-color: $greenthree;
}

.button-red {
  color: $redthree;
  border: 2px solid $redthree;
}

.button-red:hover {
  color: white;
  background-color: $redthree;
}


.btn-big-homepage {
  color: $primarythree;
  border: 3px solid $primarythree !important;
  padding: 5px 35px;
  font-size: 25px;
  border: none;
}

.btn-big-homepage:hover {
  text-decoration: none;
  background-color: $primarythree;
  color: white;

}


.filter-button {
  text-decoration: none;
}

.filter-button a {
  color: $bluesix !important;
}

.filter-button:hover {
  color: $bluesix !important;
}

.filter-button-link {
  color: white !important;
}

.filter-button-link:hover {
  color: white !important;
}
