.button {
  box-shadow: 0.1px 0.1px 3px $graythree;
  border-radius: 25px;
  font-weight: bold;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  input {
    width: auto !important;
  }
}

.button-small{
  width: 125px;
  height: auto;
  padding: 5px 15px;
}

.button-medium {
  width: 150px;
  height: auto;
  padding: 5px 25px;
}

.button-large {
  width: auto;
  height: auto;
  padding: 5px 35px;
  &:hover {
    color: white;
  }
}

.button-extra-large {
  width: 300px;
  height: auto;
  padding: 15px 65px;
  border-radius: 50px;
  font-size: 22px;
}

.button-blue {
  color: $arrowfour !important;
  border: 2px solid $arrowfour !important;
  width: auto;
  &:focus {
    outline: none;
  }
}
.button-blue:hover {
  color: white !important;
  background-color: $arrowfour;
}
// booking filter buttons
.button-filter {
  color: $graythree;
  border: 2px solid $graythree;
  width: auto;
  &:focus {
    outline: none;
  }
  letter-spacing: 1px;
}
.button-filter:hover {
  color: $arrowseven;
  border: 2px solid $arrowseven;
}
.status-selected {
  color: white;
  background-color: $arrowseven;
  border: 2px solid $arrowseven;
  width: auto;
  &:focus {
    outline: none;
  }
  &:hover {
    color: white;
  }
}
.button-green {
  color: $primarythree;
  border: 2px solid $primarythree;
  &:focus {
    outline: none;
  }
}

.button-green:hover {
  color: white;
  background-color: $primarythree;
}

.button-red, .button-red:focus {
  color: $redone;
  border: 2px solid $redone;
  &:focus {
    outline: none;
  }
}

.button-red:hover {
  color: white;
  background-color: $redone;
}


.btn-big-homepage {
  color: $primarythree;
  border: 3px solid $primarythree !important;
  padding: 5px 35px;
  font-size: 25px;
  border: none;
}

.btn-big-homepage:hover {
  text-decoration: none;
  background-color: $primarythree;
  color: white;

}

.filter-button {
  text-decoration: none;
  margin-bottom: 3px;
}
.form-button {
  width: 85px;
}
