input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.filter-form-box {
  margin: 5% 0%;

}

.filter-form-flexbox {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  background-color: $grayfive;
  border-radius: 4px;
  padding: 24px;
  color: white;
  box-shadow: 1px 1px 4px $graythree;

}

.filter-form-search-box {
  margin: 18px 0px 6px 0px;

  > input {
    color: black;
  }
}

.width-thirty {
  width: 33%;
  text-align: center;
}

.width-fifty {
  width: 50%;
}

.width-hundred {
  width: 35%;
  flex-grow: 1;
}

.form-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.form-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}



// div {
//   outline: 1px dotted red;
// }
