.homepage-form {
  border-radius: 25px;
  // border: none;
  font-weight: bold;
  background-color: rgba(255,255,255,0.2);
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: lighter;
  width: 300px;
  padding: 8px;
  &:focus {
    outline: none;
  ::placeholder {
    color: white;
  }
}

.form-text input {
  color: black !important;
  ::placeholder {
    color: $graythree !important;
  }
}



.navbar-search-form {
  background: transparent;
  border: 1px solid $bluesix;
  border-radius: 25px;
  text-align: center;
  padding: 2px 3px;
  &:focus {
    outline: none;
  }
}

.new-store-container .form-text  {

  color: black !important;
  ::placeholder {
    color: $grayone;
  }
}
