.homepage-form {
  // border: none;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 3px solid $arrowone;
  color: $primarythree;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 300px;
  font-size: 30px;

  padding: 8px;
  &:focus {
    outline: none;
  }
}
.homepage-form::placeholder {
  color: $arrowone;
}

.form-text input {
  color: black !important;
  ::placeholder {
    color: $graythree !important;
  }
}



.navbar-search-form {
  background: transparent;
  border: 1px solid $arrowsix;
  border-radius: 25px;
  text-align: center;
  padding: 2px 3px;
  &:focus {
    outline: none;
  }
}

.new-store-container .form-text  {
  color: black !important;
  ::placeholder {
    color: $grayone;
  }
}
