.homepage-form {
  // border: none;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 3px solid $arrowone;
  color: $primarythree;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 300px;
  font-size: 30px;

  padding: 8px;
  &:focus {
    outline: none;
  }
}
.homepage-form::placeholder {
  color: $arrowone;
}

.form-text input {
  color: black !important;
  ::placeholder {
    color: $graythree !important;
  }
}

.navbar-search-form {
  background: transparent;
  border: 1px solid $arrowsix;
  border-radius: 25px;
  text-align: center;
  padding: 2px 3px;
  &:focus {
    outline: none;
  }
}

.new-store-container .form-text  {
  color: black !important;
  ::placeholder {
    color: $grayone;
  }
}
.new-user-form-option {
  font-weight: bold;
  background-color: transparent;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  color: $arrowtwo;
  font-size: 20px;
}
.user-options {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  width: auto;
  .separator {
  }
  .active {
    color: $arrowsix;
    border-bottom: 3px solid $arrowsix;
  }
  .entrepreneur {
  }
}
.form-actions {
  margin-top: 15px;
}
.text-muted {
  color: $redtwo;
}
#new_store {
  width: 600px;
  .form-prices {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.form-group {
  margin-top: 14px;
}
.booking-form-message-box {
  width: 326px;
}
