.homepage-form {
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: lighter;
  width: 300px;
}


.navbar-search-form {
  background: transparent;
  border: 1px solid $bluesix;
  border-radius: 25px;
  text-align: center;
  padding: 2px 3px;
}
