/* Main navbar */
.navbar-homepage {
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
  z-index: 1;
  color: white;
  position: fixed;
}

.navbar-homepage .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.nav-homepage-logo a:hover {
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;
  color: $bluesix; /* primary 5 */
}

.nav-homepage-logo a {
  font-size: 25px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.navbar-homepage-wagon-link {
  color: white;
  font-size: 14px;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
}

.navbar-homepage-wagon-link:hover {
  text-decoration: none;
  font-weight: bold;
  color: $bluesix;
  text-decoration: none;
}

// for homepage scrolling JS
.navbar-homepage-white {
  background-color: white !important;
}

.navbar-homepage-black-link {
  color: $grayfive;
  font-size: 14px;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
}

.navbar-homepage-logo-black a {
  font-size: 25px;
  text-decoration: none;
  color: $grayfive;
  font-weight: bold;
  transition: 0.3s;
}

.navbar-homepage-logo-black a:hover {
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;
  color: $bluesix; /* primary 5 */
}

.navbar-homepage-shadow {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}
