/* Main navbar */
.navbar-wagon {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  z-index: 3;
  top: 0;
  box-shadow: .5px .5px 5px $graythree;
  position: fixed;
}

/* Logo */
.nav-logo {
  font-size: 25px;
  text-decoration: none;
  color: $arrowthree;
  font-weight: bold;
  transition: 0.3s;
}

.nav-logo a {
  font-size: 25px;
  text-decoration: none;
  color: $grayfive;
  font-weight: bold;
  transition: 0.3s;
}

.nav-search-logo a{
  color: $arrowthree;
  margin: 0 15px;
  &:hover {
    color: $arrowfive;
  }
}

.nav-logo a:hover {
  text-decoration: none;
  color: $arrowfive; /* primary 5 */
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;

}

/* Navbar link */
.navbar-wagon-link {
  color: $grayfive;
  font-size: 14px;
  font-size: 20px;
  transition: 0.3s;
  margin: 0 5px;
}
.navbar-wagon-link:hover {
  color: $arrowseven;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  z-index: 10;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $grayfive !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: white;
  color: $graythree !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
