/* Main navbar */
.navbar-homepage {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position:fixed;
  width: 100%;
}

.navbar-homepage .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
