.card-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5%;
  justify-content: center;
}

.scroll-box {
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  margin-bottom: 10%;
  z-index: -1;
}

.card {
  height: 350px;
  background-color: $grayone;
  width: 30%;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  border-radius: 4px;
  margin: 7px 10px;
  position: relative;
  z-index: -1;
}

.card-img {
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  z-index: 3; /* Safari */
  height: 35%;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}

.card-search-category {
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 5;
}
.card-store {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  z-index: 10;
}
.card-rent-price {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 5;
}

.card-store-commission {
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 5;
}


.card-link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 5;
}

.card-stars {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 5;
}
