.card-container {
  margin-top: 90px;
  margin-right: 5vw;
  margin-left: 5vw;
  display: table;
  text-align: center;

}
.card {
  height: 175px;
  width: 520px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;

  border-radius: 4px;
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 6px;
  margin-top: 6px;
  // margin: 0 auto; /* Added */
  // float: none; /* Added */
  // margin-bottom: 10px; /* Added */

  text-align: left;
  display: table-cell;
  position: relative;
}
.card-city {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 100px;
  border-radius: 50%;
  h3 {
    margin: 0px !important;
  }
}
.card-store {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  width: 200px;
  h3 {
    margin: 0px !important;
  }
}
.card-description {
  position: absolute;
  width: 225px;
  top: 10px;
  right: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.9;
  font-weight: lighter;
}
