.card-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 175px;
  width: 32%;
  flex-grow: 1;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  border-radius: 4px;
  margin: 7px 6px;
  text-align: left;
  position: relative;
}
.card-city {
  position: absolute;
  left: 10px;
  bottom: 10px;
  border-radius: 50%;
}
.card-store {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.card-description {
  position: absolute;
  top: 25%;
  right: 0%;
  width: 60%;
  font-size: 14px;
  overflow-x: hidden;
  opacity: 0.9;
  font-weight: lighter;
}

