.card-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-title-container-one {
  width: 75%;
  height: 5%;
  margin: 4% auto 3%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $arrowseven;
}

.card-title-container-two {
  width: 75%;
  height: 5%;
  margin: 3% auto 3%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $arrowseven;
}


.card-title-container-name {
  font-size: 24px;
}

.scroll-box {
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  margin-bottom: 10%;
}

.card {
  height: 350px;
  background-color: white;
  width: 27%;
  border-radius: 4px;
  margin: 7px 10px;
  position: relative;
  box-shadow: 1px 1px 5px $graythree;
}

.card-img {
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  height: 55%;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}

.card-search-category {
  color: $grayfive;
  position: absolute;
  left: 10px;
  top: 56%;
  font-size: 15px;
}

.card-store-name {
  color: $grayfive;
  position: absolute;
  top: 62%;
  left: 12px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.card-rent-price {
  color: $grayfive;
  position: absolute;
  top: 72%;
  left: 10px;
}

.card-store-commission {
  color: $grayfive;
  position: absolute;
  top: 80%;
  left: 10px;
}


.card-link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.card-link:hover {
  opacity: 0.9;
  box-shadow: 1px 1px 5px $grayfive;
}



.card-stars {
  color: $yellow;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 22px;

}
