.card-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5%;
  justify-content: center;
}

.scroll-box {
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  margin-bottom: 10%;
}

.card {
  height: 350px;
  background-color: white;
  width: 30%;
  border-radius: 4px;
  margin: 7px 10px;
  position: relative;
  box-shadow: 1px 1px rgba($grayfour, 0.9)
}

.card-img {
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  height: 45%;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}

.card-search-category {
  color: $grayfive;
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 22px;
}
.card-store {
  color: white;
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.card-rent-price {
  color: $grayfive;
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.card-store-commission {
  color: $grayfive;
  position: absolute;
  top: 65%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}


.card-link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}


.card-stars {
  color: $yellow;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 22px;
}
