.user-show-container{
  width: 1200px;
  height: 100%;
  margin: 5% auto;

}

.user-show-box {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;

  .user-show-avatar{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 45px;
  }

  .personal-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .user-show-name {
      color: $grayfive;
    }

    .user-show-edit-btn a {
      color: $bluesix;
      font-size: 15px;
    }

    .add-product {
      margin-top: 5px;
    }
  }
}

.user-bookings-box {
  width: 100%;
  text-align: center;
    > h2 {
    border-bottom: 2px solid $bluesix;
    padding: 18px;
  }

}

.user-show-stores {
  text-align: center;
  color: $grayfive;

  > h2 {
    border-bottom: 2px solid $bluesix;
    padding: 18px;
  }
}

.user-brand-rating {
  margin: 0px 10px;
}


.user-brands {
 text-align: center;
}

.user-brands p {
  font-size: 24px;
}

