.user-profile-container {
  margin-top: 90px;
  margin-right: 10vw;
  margin-left: 10vw;
  border-radius: 50%;
}

th {
  text-align: center;
  background-color: #E5E5E5;
}

td {
 text-align: center;
 background-color: white;
}

table {
  width: 640px;
  box-shadow: 0px 4px #888888;
}

th, td {
  padding: 15px;
}

.overview {
  background-color:green;
  height: 50px;
  width: 640px;
  background-color: #66E7A9;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 36pt;
  font-style: bold;
  margin-top: 5%;

}

.display {
  width: 640px;
  background-color: #66E7A9;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  width: 1000px;
  height: 60px;
  background-color: #66E7A9;
  color: white;
  font-size: 36pt;
  font-style: bold;
  margin: 5% 0%;
  position: relative;
}
.edit-username {
  position: absolute;
  right: 2%;
  top: 25%;
}

.flex-container {
  display:flex;

  align-content:center;
  flex-direction: column;
  width: 1000px;
  align-items: center;
  height: 100vh;

  justify-content: center;
  margin: 0 auto;
  margin-top: 5%;
}

.avatar{
  width: 50px;
  border-radius: 50%;
}

#pending {
  height:315 !important;
  width: 350 !important;
  right: 0px;
  bottom: 0px;
  top: 50px;
  left: 500px;
}
