.user-show-container{
  background-color: $grayone;
  width: 90%;
  height: 88vh;
  margin: 7% auto 0%;
  border-radius: 5px;
  // box-shadow: .25px .25px $grayfive;
}

.user-show-box {
  width: 100%;
  height: 100%;
  background-color: $graytwo;
  position: relative;
}


.user-show-avatar{
  position: absolute;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  top: 3%;
  left: 0;
  right: 0;
  margin: 0 auto;
  }

.user-show-name {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 30px;
  border-bottom: 1px solid $grayfive;
  width: 50%;
  padding: 5px;
}


