.container-new-booking {
  margin-top: 80px;
  margin-left: 20vw;
  margin-right: 20vw;
  background-color: $grayone;
  padding: 30px;
  border-radius: 10px;
}

.container-new-booking h2{
  color:#282727;
  font-weight: bold;
}

.booking-new-submit {
  display: flex;
  justify-content: space-between;
}
