.user-show-pending-bookings {
}

.booking-card {
  height: 200px;
  background-color: white;
  width: 80vw;
  border-radius: 4px;
  margin: 2% auto;
  position: relative;
  box-shadow: 1px 1px 5px $graythree;
}

.user-bookings-store-name {
  position: absolute;
  left: 40%;
  top: 5px;
  font-size: 32px;
}

.user-bookings-category-location {
  position: absolute;
  top: 5px;
  left: 5%;
  font-size: 16px;
}

.user-bookings-status {
  position: absolute;
  right: 5%;
  top: 50%;
}

.user-bookings-dates {
  position: absolute;
  right: 5%;
  top: 5px;
}

.user-bookings-total-price {
  position: absolute;
  left: 5%;
  top: 50%;
}

.bookings-status-buttons{
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.user-bookings-chatroom {
  position: absolute;
  width: 40%;
  height: 50%;
  right: 25%;
  top: 50%;
}
