.user-show-pending-bookings {
}

.booking-card {
  height: 200px;
  background-color: white;
  border-radius: 4px;
  margin: 2% auto;
  box-shadow: 1px 1px 5px $graythree;
  display: flex;
  flex-direction: row;

  .card-img {
    height: 200px;
    width: 200px;
    min-width: 200px;
    display: block;
    position: static;
    border-radius: 4px 0px 0px 4px;
  }

  .user-bookings-chatroom {
    display: none;
  }

  .booking-card-content {
    height: 200px;
    flex-grow: 1;
    text-align: left;
    margin-left: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .booking-card-extra {
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 200px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .user-bookings-actions {
      > * {
        display: block;
        float: right;
        margin: .2em;
      }
    }

    .user-bookings-status {
      font-size: 24px;
      font-weight: bold;
      text-align: right;
      margin-right: 5px;
    }
  }
}

.user-bookings-store-name {
  font-size: 32px;
  a {
    color: $arrowthree;
    &:hover {
    color: $arrowone;

    }
  }
}

.user-bookings-category-location {
  font-size: 16px;
}

.user-bookings-status {
}

.user-bookings-dates {
}

.user-bookings-total-price {
}

.bookings-status-buttons{
}

a.user-bookings-message-button {
  color: $arrowthree;

  &:focus, &:active, &:visited {
    color: $arrowfive;
  }
}

.user-bookings-message-button a:hover {
  color: white;
}

.user-bookings-chatroom {
  height: 200px;
  background-color: white;
  width: 80vw;
  border-radius: 4px;
  margin: 2% auto;
  position: relative;
  box-shadow: 1px 1px 5px $graythree;
}

.user-chatroom-messages {
  padding: 2%;
  overflow-y: scroll;
  max-height: 90%;
  font-size: 18px;
}
