.user-show-pending-bookings {
}

.booking-card {
  height: 200px;
  background-color: white;
  width: 80vw;
  border-radius: 4px;
  margin: 7px 10px;
  position: relative;
  box-shadow: 1px 1px 5px $graythree;
}
