// shades of blue
.blue-one {
  background-color: #BBE5EE;
}

.blue-two {
  background-color: #77CBDE;
}

.blue-three {
  background-color: #34B1CD;
}

.blue-four {
  background-color: #0792B2;
}

.blue-five {
  background-color: #05667D;
}
