// shades of blue
.blue-one {
  background-color: $blueone;
}

.blue-two {
  background-color: $bluetwo;
}

.blue-three {
  background-color: $bluethree;
}

.blue-four {
  background-color: $bluefour;
}

.blue-five {
  background-color: $bluefive;
}
