// shades of blue
.blue-one {
  background-color: #E8F0F4;
}

.blue-two {
  background-color: #A9C5D6;
}

.blue-three {
  background-color: #6A9BB7;
}

.blue-four {
  background-color: #357199;
}

.blue-five {
  background-color: #1F5277;
}
