// shades of grey
.gray-one {
  background-color: $grayone;
}

.gray-two {
  background-color: $graytwo;
}

.gray-three {
  background-color: $graythree;
}

.gray-four {
  background-color: $grayfour;
}

.gray-five {
  background-color: $grayfive;
}
