// shades of green
.green-one {
  background-color: #61E6A3 ;
}

.green-two {
  background-color: #34DF89 ;
}

.green-three {
  background-color: #07D86F ;
}

.green-four {
  background-color: #06B15B ;
}

.green-five {
  background-color: #058A47 ;
}
