// shades of green
.green-one {
  background-color: #61E6A3 ;
  width: 50px;
  height: 50px;
}

.green-two {
  background-color: #34DF89 ;
  width: 50px;
  height: 50px;
}

.green-three {
  background-color: #07D86F ;
  width: 50px;
  height: 50px;
}

.green-four {
  background-color: #06B15B ;
  width: 50px;
  height: 50px;
}

.green-five {
  background-color: #058A47 ;
  width: 50px;
  height: 50px;
}
