// shades of green
.green-one {
  background-color: $greenone;
}

.green-two {
  background-color: $greentwo;
}

.green-three {
  background-color: $greenthree;
}

.green-four {
  background-color: $greenfour;
}

.green-five {
  background-color: $greenfive;
}
