// shades of grey
.grey-one {
  background-color: #E5E5E4;
}

.grey-two {
  background-color: #D5D6D4;
}

.grey-three {
  background-color: #C6C7C4;
}

.grey-four {
  background-color: #91918F;
}

.grey-five {
  background-color: #5A5B5A;
}
