// primary color shades

.primary-one {
  background-color: green ;
}

.primary-two {
  background-color: green ;
}

.primary-three {
  background-color: green ;
}

.primary-four {
  background-color: green ;
}

.primary-five {
  background-color: green ;
}
