// primary color shades

.primary-one {
  background-color: $primarytwo;
}

.primary-two {
  background-color: $primarytwo;
}

.primary-three {
  background-color: $primarythree;
}

.primary-four {
  background-color: $primaryfour;
}

.primary-five {
  background-color: $primaryfive;
}
