// primary color shades

.primary-one {
  background-color: #9EF4E0 ;
}

.primary-two {
  background-color: #78EFD3 ;
}

.primary-three {
  background-color:  #2BE7BB;
}

.primary-four {
  background-color:  #24BE9A;
}

.primary-five {
  background-color:  #1C9377 ;
}