.red-one {
  background-color: #E96E6D ;
  width: 50px;
  height: 50px;
}

.red-two {
  background-color: #E34543 ;
  width: 50px;
  height: 50px;
}

.red-three {
  background-color:  #DD1C1A;
  width: 50px;
  height: 50px;
}

.red-four {
  background-color:  #B51716;
  width: 50px;
  height: 50px;
}

.red-five {
  background-color:  #8D1211 ;
  width: 50px;
  height: 50px;
}
