.red-one {
  background-color: $redone;
}

.red-two {
  background-color: $redtwo;
}

.red-three {
  background-color: $redthree;
}

.red-four {
  background-color: $redfour;
}

.red-five {
  background-color: $redfive;
}
