.red-one {
  background-color: #E96E6D ;
}

.red-two {
  background-color: #E34543 ;
}

.red-three {
  background-color:  #DD1C1A;
}

.red-four {
  background-color:  #B51716;
}

.red-five {
  background-color:  #8D1211 ;
}
