.container-devise-form {
  width: 30%;
  background-color: $grayone;
  padding: 20px;
  border-radius: 10px;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  height: 80vh !important;
}

.container-devise-form-wide {
  width: 85%;
  background-color: $blueone;
  padding: 20px;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}
